// Colors
$dark: #000000;
$light: #fff;
$blueGreen: #006e8d;
$gray: #5b5b5b;
$indicator: #f8b400;

// Font Sizes
$font-xs: 0.875rem; // 14px
$font-sm: 1rem; // 16px
$font-med: 1.625rem; // 26px
$font-lg: 2rem; // 32px
$font-xlg: 2.5rem; // 40px
